/*@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=PT+Serif&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');*/

.body {
    /*background-image: url("https://i.postimg.cc/YqzyzTBP/PPbrand.webp");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 70vh;
    width: 100%;
    opacity: 1;
    margin: 0 auto;
    /*font-family: Raleway, serif;*/
    /*filter: blur(1px);*/
    /*-webkit-filter: blur(8px);*/
}

.child {
    padding-top: 154px;
}

.child-text {
    /*border: none;*/
    /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);*/
}

.child-input {
    background-color: white;
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}
.input-form {
    position: relative;
    width: 90%;
    margin: 0 auto;
    outline: none;
    border: none;
    cursor: auto;
}
.input-span {
    position: relative;
    margin-right: 10px;
    font-size: 20px;
    cursor: default;
}